
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans&display=swap');

#content {
    max-width: 960px;
    margin: 0 auto;
  }
#banner-text
{
    text-align: center;
    font-family: 'Open sans', sans-serif;

}

p {
    font-family: 'Lato', sans-serif;
}


h2{
    font-family: 'Open sans', sans-serif;
}

main, header{
    background-color: #A3B18A;
}

body{
    background-color: #344E41;
}

img{
    width: 100%;
}